version: '3.9'

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: food_db
    environment:
      POSTGRES_DB: food
      POSTGRES_USER: food
      POSTGRES_PASSWORD: food
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: food_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: food_backend
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  celery:
    build: ./backend
    command: bash -c "export PYTHONPATH=/app && celery -A config worker -l info"
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - db
      - redis
    env_file:
      - .env


volumes:
  pgdata: